<!-- ============================================= SOCIAL MEDIAS -->
<!-- <div id="socialicons-wrap">
	<div class="sm-cont">
		<div class="ui page grid">
			<div class="ui center aligned four column grid">
				<h3 class="ui social-media header"> Connect with us to keep yourself updated!</h3>
				<div class="three wide column social-icon"><i class="large circular facebook icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular google plus icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular twitter icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular instagram icon"></i></div>
			</div>
		</div>
	</div>
</div>
 -->
<!-- ============================================= FOOTER -->
<div id="footer-wrap">
	<div class="ui grid">
		<div class="row">
		 	<div class="eight wide column center aligned">
		 		&copy; 2014 WeNomYou 
		 	</div>
		 	<div class="eight wide column center aligned">
	 			Jay Huang, Daniel Engelhard, Enoch Yip
		 	</div>
	 	</div>
	</div>
</div> <!-- FOOTER -->