<!-- ============================================= SOCIAL MEDIAS -->
<div id="socialicons-wrap">
	<div class="sm-cont">
		<div class="ui page grid">
			<div class="ui center aligned four column grid">
				<h3 class="ui social-media header"> Follow our Social Media to keep yourself updated!</h3>
				<div class="ui social-media divider"></div>
				<div class="three wide column social-icon"><i class="large circular facebook icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular google plus icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular twitter icon"></i></div>
				<div class="three wide column social-icon"><i class="large circular instagram icon"></i></div>
			</div>
		</div>
	</div>
</div>

<!-- ============================================= FOOTER -->
<div id="footer-wrap">
	<div class="ui page grid">
	 	<div class="sixteen wide column">
		 	<div class="ui footer bottom stackable two column grid">
		 		<div class="four wide column bottom">
		 			<p>&copy; 2014 WeNomYou </p>
		 		</div>
		 		<div class="six wide column bottom">
		 			<p>Jay Huang, Daniel Engelhard, Enoch Yip</p>
		 		</div>
		 	</div>
	 	</div>
	</div>
</div> <!-- FOOTER -->