@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>We Nom You</h1>
    <p class="lead">WeNomYou Dummy Text</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dummy text</h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Dummy Text</h2>
        <p>

        </p>
    </div>
</div>