<div ng-include src="'views/partials/header.html'"></div> <!-- ================= HEADER -->

<!-- ============================================= GET STARTED BODY -->

<div class="mainbody-wrap">
	<div class="ui page grid">
		<div class="ui basic background-wrap segment">
			<div class="ui center aligned basic campaign-top-header segment">
				<h1 class="ui header">Welcome to WeNomYou!</h1>
				<p> Thanks for choosing us! Now lets get started with your challenge. </p>
			</div>
			
			<h2>Challenge {{challenge.id}}</h2>
		</div> <!-- WRAPPER END -->
	</div>	
</div> <!-- MAINBODY-WRAP END -->

<div ng-include src="'views/partials/footer.html'"></div> <!-- ================= FOOTER -->