<div ng-include src="'views/partials/header.html'"></div> <!-- ================= HEADER -->

<!-- ============================================= GET STARTED BODY -->

<div class="mainbody-wrap">
	<div class="ui page grid">
		<div class="ui basic background-wrap segment">

			<!-- =============================================== CAMPAIGN SETUP HEADER -->
			<div class="ui center aligned basic campaign-top-header segment">
				<h1 class="ui header">Welcome to WeNomYou!</h1>
				<p> Thanks for choosing us! Now lets get started with your campaign. </p>
			</div>
			
			<form name="campaign_form">
				<h2 class="ui black inverted block header">Create Challenge</h2>

				<div class="ui basic getstarted segment">
					<div class="ui two column stackable formbg grid">

						<div class="five wide column">
							<h3 class="ui header">Challenge Image </h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								Drag and drop here
								<br>
								<br>
								<br>
								or
								<br>
								<br>
								<button>Upload Image</button>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Challenge Name </h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<div class="field">
									<input ng-class="{'has-error': campaign_form.title.$invalid}" type="text" name="title" ng-model="campaign.name" required>
									<div class="ui red pointing above ui label" ng-show="campaign_form.title.$invalid">
										<div ng-show="campaign_form.title.$error.required">Please provide the challenge name</div>
									</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Nominee Name</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<div class="field">
									<input ng-class="{'has-error': campaign_form.nominee.$invalid}" type="text" name="nominee" ng-model="campaign.nominee" required>
									<div class="ui red pointing above ui label" ng-show="campaign_form.nominee.$invalid">
										<div ng-show="campaign_form.nominee.$error.required">Please give the nominee name</div>
									</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Funding Goal</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<input type="text" name="goal" ng-model="campaign.goal" numbers-only>
								<div class="ui red pointing above ui label" ng-show="campaign_form.goal.$dirty && campaign_form.goal.$invalid">
									<div ng-show="campaign_form.goal.$error.number">Numbers only please!</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Funding Start Date</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<input type="text" name="goal" ng-model="campaign.start_date" numbers-only>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Funding Duration</h3>
						</div>
						<div class="six wide column">
							<div class="ui fluid form">
								<input type="text" name="goal" ng-model="campaign.duration" numbers-only>
							</div>
						</div>
						<div class="five wide column">
							days (1~365)
						</div>

						<div class="five wide column">
							<h3 class="ui header">Funding End Date</h3>
						</div>
						<div class="eleven wide column">
							This campaign will end on ______________________
						</div>

						<div class="five wide column">
							<h3 class="ui header">Description</h3>
						</div>
						<div class="eleven wide column">
							<div text-angular ng-model="campaign.description" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-button-active-class="active" ta-toolbar="[['h1','h2','h3','p','pre','quote'],['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['indent','outdent'],['insertImage','insertLink','insertVideo']]"></div>
						</div>

						<div class="five wide column" ng-show="campaign.description">
							<h3 class="ui header">Description Preview</h3>
						</div>
						<div class="eleven wide column" ng-show="campaign.description">
							<div ng-show="!toggleDescriptPreview" ng-click="toggleDescriptPreview = !toggleDescriptPreview">Show</div>
							<div ng-show="toggleDescriptPreview" ng-click="toggleDescriptPreview = !toggleDescriptPreview">Hide</div>
							<div ng-show="toggleDescriptPreview" ta-bind ng-model="campaign.description"></div>
						</div>						
					</div> <!-- GRID END -->
				</div>
				<div class="ui right aligned basic btn nxt-step segment">
					<a ng-href="{{campaign_setup_url}}">
						<button accessible-form ng-click="saveData($event)" class="ui right labeled icon blue button"> Create Challenge <i class="right arrow icon"></i></button>
					</a>
				</div>
			</form>
		</div> <!-- WRAPPER END -->
	</div>	
</div> <!-- MAINBODY-WRAP END -->

<div ng-include src="'views/partials/footer.html'"></div> <!-- ================= FOOTER -->