<div ng-include src="'views/partials/header.html'"></div> <!-- ================= HEADER -->

<!-- ============================================= GET STARTED BODY -->

<div class="mainbody-wrap">
	<div class="ui page grid">
		<div class="ui basic background-wrap segment">

			<!-- =============================================== CHALLENGE SETUP HEADER -->
			<div class="ui center aligned basic segment">
				<h1 class="ui header">Edit Profile</h1>
			</div>
			
			<form name="profile_form">
				<!-- <h2 class="ui black inverted block header">Edit Profile</h2> -->

				<div class="ui basic getstarted segment">
					<div class="ui two column stackable formbg grid">

						<div class="five wide column">
							<h3 class="ui header">Profile Image</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form thumbnail-container">
								<div class="campaign-thumbnail" ng-file-drag-over-class="file-drag" ng-file-drop="onFileSelect($files)">
									<span>Drag and drop here</span>
									<img ng-show="selectedFiles == null" src="http://placehold.it/480x320">
									<img ng-show="selectedFiles != null" ng-src="{{dataUrls[0]}}"> 
								</div>
								  <div class="ui horizontal divider">OR</div>
								<div class="ui blue center button" ng-file-select="onFileSelect($files)">Upload Image</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">First Name</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<div class="field">
									<input ng-class="{'has-error': profile_form.first_name.$invalid}" type="text" name="first_name" ng-model="user.name" required>
									<div class="ui red pointing above ui label" ng-show="profile_form.first_name.$invalid && profile_form.first_name.$dirty">
										<div ng-show="profile_form.first_name.$error.required">Please provide your first name</div>
									</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Last Name</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<div class="field">
									<input ng-class="{'has-error': profile_form.last_name.$invalid}" type="text" name="last_name" ng-model="user.last_name">
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Email</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<input ng-class="{'has-error': profile_form.email.$invalid}" type="email" name="email" ng-model="user.email" required>
								<div class="ui red pointing above ui label" ng-show="profile_form.email.$invalid && profile_form.email.$dirty">
									<div ng-show="profile_form.email.$error.required">Please provide an email</div>
							    	<div ng-show="profile_form.email.$error.email">Please enter a valid email</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">Change Password</h3>
						</div>
						<div class="eleven wide column">
							<div class="ui fluid form">
								<div class="ui slider checkbox">
									<input type="checkbox" id="changepass" ng-click="togglePass = !togglePass">
									<label for="changepass">Toggle this button to change your password</label>
								</div>
							</div>
						</div>

						<div ng-show="togglePass" class="five wide column">
							<h3 class="ui header">New Password</h3>
						</div>
						<div ng-show="togglePass" class="eleven wide column">
							<div class="ui fluid form">
								<input ng-class="{'has-error': profile_form.password.$invalid}" type="password" name="password" ng-model="newpass[0]" ng-minlength="6"></input>
								<div class="ui red pointing above ui label" ng-show="profile_form.password.$invalid && profile_form.password.$dirty">
									<div ng-show="profile_form.password.$error.minlength">Your password must be at least 6 characters</div>
								</div>
							</div>
						</div>

						<div ng-show="togglePass" class="five wide column">
							<h3 class="ui header">Confirm Password</h3>
						</div>
						<div ng-show="togglePass" class="eleven wide column">
							<div class="ui fluid form">
								<input ng-class="{'has-error': profile_form.passwordconf.$invalid && newpass[0]}" type="password" ng-model="newpass[1]" data-match="newpass[0]" name="passwordconf" ng-required="newpass[0]">
								<div class="ui red pointing above ui label" ng-show="profile_form.passwordconf.$invalid && newpass[0]">
									<div ng-show="profile_form.passwordconf.$error.match || profile_form.passwordconf.$error.required">Passwords do not match</div>
								</div>
							</div>
						</div>

						<div class="five wide column">
							<h3 class="ui header">About You</h3>
						</div>
						<div class="eleven wide column">
							What makes you awesome? Tell people why they should be donating to your challenges.
							<div text-angular name="about" ng-class="{'has-error': profile_form.about.$invalid}" ng-model="user.about" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-button-active-class="active" ta-toolbar="[['h1','h2','h3','p','pre','quote'],['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['indent','outdent'],['insertImage','insertLink','insertVideo']]"></div>
						</div>

						<div class="five wide column" ng-show="user.about">
							<h3 class="ui header">Description Preview</h3>
						</div>
						<div class="eleven wide column" ng-show="user.about">
							<div ng-show="!toggleDescriptPreview" ng-click="toggleDescriptPreview = !toggleDescriptPreview">Show</div>
							<div ng-show="toggleDescriptPreview" ng-click="toggleDescriptPreview = !toggleDescriptPreview">Hide</div>
							<div ng-show="toggleDescriptPreview" ta-bind ng-model="challenge.description"></div>
						</div>						
					</div> <!-- GRID END -->
				</div>
				<div class="ui right aligned basic btn nxt-step segment">
					<a ng-href="explore">
						<button accessible-form ng-click="saveData($event)" class="ui right labeled icon blue button"> Update Profile <i class="right arrow icon"></i></button>
					</a>
				</div>
			</form>
		</div> <!-- WRAPPER END -->
	</div>	
</div> <!-- MAINBODY-WRAP END -->

<div ng-include src="'views/partials/footer.html'"></div> <!-- ================= FOOTER -->