
<!-- ============================================= MASTHEAD -->
<div class="ui basic masthead segment">

	<div ng-include src="'views/partials/header.html'"></div> <!-- ================= HEADER -->

	<!-- ============================================= BANNER -->
	<div id="topbanner-main">
		<div class="ui page grid">
			<div class="ui column headers">
				<h1 class="ui huge header"> WeNomYou Helps! </h1>
				<h2 class="ui header">Crowdfund, anywhere and anytime!</h2>
				<p>Challenge a friend or celebrity and donate to charity!</p>

				<div class="masthead-button-wrap"> <!-- ng-controller="ChallengeStatusCtrl" -->

					<a href="start">
						<div class="ui large masthhead-button right labeled green icon button">
							<!-- <span ng-if="campaign.entry_id">Continue Project</span> <i class="right long arrow icon"></i> -->
							<!-- <span ng-if="!campaign.entry_id">Start Project</span> <i class="right long arrow icon"></i> -->
							<span>Start Project</span> <i class="right long arrow icon"></i>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div> <!-- MASTER HEAD -->

<!-- ============================================= RECENT PROJECTS -->
<div id="recent-proj-wrap">
	<div class="ui page grid">
		<div ng-show="challenges" class="ui column" ng-controller="ExploreCtrl">
			<h2 class="ui left aligned header"></i> Check out some challenges </h2>	
			
					<div ng-show="challenges" class="ui three stackable items project-list">
						<a class="item campaign-listing" ng-href="challenge/{{challenge.id}}" ng-repeat="challenge in challenges | inArray:filteredIds:'id' | orderBy:sortOrFilters.sort | limitTo: 3">
							<div class="item">
								<div ng-show="challenge.featured" class="ui right corner blue label"><i class="star icon"></i></div>
									<div class="image">
										<img ng-show="!challenge.image" src="http://placehold.it/428x285&text=Image+unavailable" class="ui image">
										<img ng-show="challenge.image" ng-src="{{challenge.image}}" class="ui image">
									</div>
								<div class="content">
									<div class="name"> {{challenge.name}} </div>
<!-- 									<div class="meta" am-time-ago="challenge.created"></div>
									<p class="description">
										{{challenge.description}}
									</p> -->
								</div>

								<div class="campaign-stats">
									<div class="ui successful progress">
										<div class="bar" style="width: {{(challenge.funded_amount || 0) / (challenge.goal || 1) * 100 | number: 0}}%"></div>
									</div>
									<div class="meta">Funding: ${{challenge.goal}} ({{(challenge.funded_amount || 0) / (challenge.goal || 1) * 100 | number: 0}})%</div>
								</div>
							</div>
						</a> <!-- ITEM -->
					</div>
			
		</div> 
	</div>
</div> <!-- RECENT PROJECTS -->

<!-- ============================================= FEATURED PROJECTS -->
<div id="feat-proj-wrap">
	<div class="ui page grid">
		<div ng-show="featuredcampaigns.length" class="ui column">

		<h2 class="ui left aligned header"><i class="star icon"></i> Featured Projects </h2>	
			<div class="ui three stackable items">
				<a class="item campaign-listing" ng-href="{{'/' + campaign.uri_paths[0].path}}" ng-repeat="campaign in featuredcampaigns | limitTo: 3">
					<div class="item">
						<div class="image">
							<div ng-show="campaign.featured" class="ui right corner blue label"><i class="star icon"></i></div>
							<img ng-repeat="file in campaign.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1" ng-if="campaign.files[0].path_external" ng-src="{{server + '/image/h-421/' + file.path_external}}" class="ui image"/>
							<img ng-if="!campaign.files[0].path_external" src="http://placehold.it/421x421&text=Image+unavailable" class="ui image"/>
						</div> <!-- IMAGE -->

						<div class="content">
							<div class="meta" am-time-ago="campaign.created">{{campaign.created}}</div>
							<div class="name">{{campaign.name}}</div>
							
							<p class="description">{{campaign.blurb}}</p>
						</div>

						<div class="campaign-stats">
							<div class="ui successful progress">
								<div class="bar" style="width: {{campaign.funded_amount / (campaign.funding_goal || 1) * 100 | number: 0}}%"></div>
							</div>
							<div class="meta">{{campaign.funded_amount / (campaign.funding_goal || 1) * 100 | number: 0}}% Funded</div>
						</div>
						
						<div class="extra">
							<i class="map marker icon"></i><span ng-repeat="city in campaign.cities">{{city.city_full}}</span>
						</div> 
					</div>
				</a><!-- ITEM -->
			</div>

			<div class="ui center aligned basic segment">
				<a href="explore">
					<div class="ui large blue button">View more projects </div>
				</a>
			</div>

		</div> 
	</div>
	<div class="push"></div>
</div> <!-- FEATURED CHALLENGES -->