<div ng-include="" src="'views/partials/nav.html'"></div> <!-- ================= NAV -->

<!-- ============================================= LOGIN FORM -->
<div class="mainbody-wrap">
	<div class="ui page grid">
		<div class="ui column">
			<div class="ui center aligned two column stackable grid">
				<div class="twelve wide column">
					<div ng-show="confirmation.confirmed" class="ui success message twelve wide column">
						<i class="loading icon"></i>
						{{confirmation.confirmed.message}}
					</div>
					<div ng-show="confirmation.errors" class="ui error message twelve wide column">
						<i class="close icon" ng-click="confirmation.errors = null;"></i>
						<ul ng-repeat="error in confirmation.errors">
							<li ng-repeat="item in error">
								{{item.message}}
							</li>
						</ul>
					</div>
				</div>
				<div class="six wide column">
					<form name="login_form" class="ui login form segment" id="login"> <!-- ng-controller="LoginCtrl" -->
						<div class="top-head">
							<h3 class="ui header"> Log in </h3>
							<p> If you already have an account please login to continue. </p>
							<div ng-show="formData.successful" class="ui success message">
								<i class="loading icon"></i>
								{{formData.successful.message}}
							</div>
							<div ng-show="formData.errors" class="ui error message">
								<i class="close icon" ng-click="formData.errors = null;"></i>
								<div class="header">
									Login failed
								</div>
								<ul ng-repeat="error in formData.errors" class="list">
									<li ng-repeat="item in error">{{item.message}}</li>
								</ul>
							</div>
						</div>
						<div class="field">
							<label> Email </label>
							<input type="email" name="email" placeholder="Email" ng-model="formData.email">
							<div class="ui red pointing above ui label" ng-show="login_form.email.$dirty && login_form.email.$invalid">
							    <div ng-show="login_form.email.$error.required">Please enter your email</div>
							    <div ng-show="login_form.email.$error.email">Please enter a valid email</div>
							</div>
						</div>
						<div class="field">
							<label> Password </label>
							<input type="password" name="password" placeholder="Password" ng-minlength="6" ng-model="formData.password">
							<div class="ui red pointing above ui label" ng-show="login_form.password.$dirty && login_form.password.$invalid">
							    <div ng-show="login_form.password.$error.required">Please enter your password</div>
							    <div ng-show="login_form.password.$error.minlength">Your password must be at least 6 characters</div>
							</div>
						</div>

						<div class="ui basic login-register-btn segment">
							<button ng-click="submit()" class="ui fluid blue login button"> Log in</button>
						</div>
					</form> <!-- FORM END -->
					
				</div> <!-- COLUMN END -->

			<!-- ============================================= REGISTER FORM -->
				<div class="six wide column">
					<form name="register_form" class="ui register form segment" id="register" ng-submit="submit()"> <!-- ng-controller="RegisterCtrl"  -->
						<div class="top-head">
							<h3 class="ui header"> New to WeNomYou? </h3>
							<p> Please fill out the form to create a new account. </p>
							<div ng-show="formData.successful" class="ui success message">
								{{formData.successful.message}}
							</div>
							<div ng-show="formData.errors" class="ui error message">
								<i class="close icon" ng-click="formData.errors = null;"></i>
								<div class="header">
									Registration failed
								</div>
								<ul ng-repeat="error in formData.errors" class="list">
									<li ng-repeat="item in error">{{item.message}}</li>
								</ul>
							</div>
						</div>

						<div class="field">
							<label> First Name </label>
							<input type="text" name="first_name" placeholder="First Name" ng-model="formData.first_name">
							<div class="ui red pointing above ui label" ng-show="register_form.first_name.$dirty && register_form.first_name.$invalid">
							    <div ng-show="register_form.first_name.$error.required">Please enter your first name</div>
							</div>
						</div>

						<div class="field">
							<label> Last Name </label>
							<input type="text" name="last_name" placeholder="Last Name" ng-model="formData.last_name" required="">
							<div class="ui red pointing above ui label" ng-show="register_form.last_name.$dirty && register_form.last_name.$invalid">
							    <div ng-show="register_form.last_name.$error.required">Please enter your last name</div>
							</div>
						</div>
						<div class="field">
							<label> Email </label>
							<input type="email" name="email" placeholder="Email" ng-model="formData.email">
							<div class="ui red pointing above ui label" ng-show="register_form.email.$dirty && register_form.email.$invalid">
							    <div ng-show="register_form.email.$error.required">Please enter your email</div>
							    <div ng-show="register_form.email.$error.email">Please enter a valid email</div>
							</div>
						</div>

						<div class="field">
							<label> Password </label>
							<input type="password" id="registerpass" name="password" placeholder="Password" ng-minlength="6" ng-model="formData.password">
							<div class="ui red pointing above ui label" ng-show="register_form.password.$dirty && register_form.password.$invalid">
								<div ng-show="register_form.password.$error.required">Please enter your password</div>
								<div ng-show="register_form.password.$error.minlength">Your password must be at least 6 characters</div>
							</div>
						</div>

						<div class="field">
							<label> Confirm Password </label>
							<input type="password" name="password_confirm" placeholder="Confirm Password" data-match="formData.password" ng-model="formData.password_confirm">
							<div class="ui red pointing above ui label" ng-show="register_form.password_confirm.$dirty && register_form.password_confirm.$invalid && !register_form.name.$focused">
								<div ng-show="register_form.password_confirm.$error.required">Please confirm your password</div>
								<div ng-show="register_form.password_confirm.$error.match">Passwords do not match</div>
							</div>
						</div>

						<div class="ui basic login-register-btn segment">
							<button class="ui fluid blue register button"> Create an Account </button>
						</div>
					</form> <!-- FORM END -->
				</div>
			</div> <!-- TWO COLUMN GRID END -->
		</div> <!-- LOGIN/REGISTER END -->
	</div>
</div>

<div ng-include="" src="'views/partials/footer.html'"></div> <!-- ================= FOOTER -->